/* .video-call-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 10px;
    
} */


.video-call-container {
    margin: auto;
    width: 100%;
    padding: 16px;
    overflow-y: auto;
}

.video-call-container-full {
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 16px;
}

.video-call-container-full > * {
    flex: 1 1 300px;
}

.video-call-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black !important;
    outline: none;
}

.video-window {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    /* width: 75%;  */
    width: 95%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#local-video {
    transform: rotateY(180deg);
    max-width: 75%;
}

.displayName { 
    /* overlay name on video */
    padding: 16px;
    font-size: large;
    position: relative;
    color: white;
    font-weight: bold;
    position: absolute;
    margin: 10px; 
    color: white; 
    bottom: 5px;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    border-radius: 5px;
   
}

.local-feed {
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 16px;
    max-width: 12%;
    flex-basis: 100%;
}