.video-call-container {
    overflow-y: auto;
}

.video-call-window {
    position: relative;
    height: 100%;
    width: 100%;
    color: black !important;
    padding: 16px !important;
}

.window {
    max-height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}

.video-window {
    transform: rotateY(180deg);
    width: 100%;
    border-radius: 25px;
}

.displayName {
    padding: 8px;
    position: relative;
    color: white;
    font-weight: bold;
}