.messaging {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
    min-height: 100%;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-list {
    position: relative;
    height: 100%;
    overflow-y: scroll !important;
}

.message {
    overflow: hidden;
    flex: 1;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
    overflow-y: hidden;
}
	
.box {
    text-align: center;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1 {
    background-color: green;
    height: 60px;
}

.message-list-container {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.message-container {
    color: white;
    margin-top: 5px;
}

.system-message-container {
    color: #ACACAC;
    padding: 5px;
    font-size: 14px;
}

.sent-message {
    margin-left: auto;
    width: 90%;
    text-align: left;
}

.sent {
    margin-left: auto;
    margin-right: 8px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px 10px 0px 10px;
    background-color: #1976d2;
    overflow-wrap: anywhere;
}

.received-message {
    margin-right: auto;
    width: 90%;
    text-align: left;
}

.received {
    margin-right: auto;
    margin-left: 8px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px 10px 10px 0px;
    background-color: #3B3B3D;
    overflow-wrap: anywhere;
}

.text-label {
    margin-left: 16px;
    font-size: 12px;
    color: #ACACAC;
}

.sent-text-label {
    text-align: right;
}

.message {
    /* padding: 0px 16px 0px 16px !important; */
    overflow: hidden;
}

.call-options {
    margin: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.call-icon {
    cursor: pointer;
    padding: 10px;
    color: #a2a2a2;
}

.call-icon:hover{
    cursor: pointer;
    padding: 10px;
    color: #1976d2;
}

.end-call{
    color: red;
    margin: auto;
}

.chat-divider {
    color: white;
    padding: 10px;
}

.messaging-container-shrunk {
    height: 60%;
    margin-top: auto;
}

.messaging-container {
    height: 100%;
}