.player {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.player-wrapper {
    height: 100%;
    width: 100%;
}

.media-controls {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: auto;
    transition: 0.6s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress-bar {
    margin-top: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.media-table {
    bottom: 0;
    background-image: linear-gradient(transparent, black);
}

.media-controls:hover {
    opacity: 1;
    transition: 0.6s;
}

.media-button-container {
    cursor: pointer;
    color: #cfcfcf !important;
    width: 40px;
    min-width: 40px;
}

.volume-container {
    display: flex;
    flex-direction: row;
    margin: 7px;
}

.slider {
    width: 0px !important;
    transition: 0.5s;
    margin: auto auto auto 10px;

}

.volume-container:hover .slider {
    bottom: 1px;
    transition: 0.5s;
    width: 125px !important;
}

.slider:active {
    width: 125px !important;
    display: flex !important;
} 

.volume-button-container {
    cursor: pointer;
    color: #cfcfcf !important;
    max-width: 150px;
    width: 40px;
}

.media-button-extended-container {
    cursor: pointer;
    color: #cfcfcf !important;
    width: 100px;
}

.request-control-button {
    white-space: nowrap !important;
    background-color: #cfcfcf !important;
}

.title-color {
    color: #cfcfcf !important;
}

.in-control-button {
    white-space: nowrap !important;
    color: white !important;
    background-color: #0061c8 !important;
}

.media-container {
    border-bottom: none !important;
    padding: 8px !important;
}

.volume-icon {
    margin-top: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    display: flex !important;
}

.player-icon {
    margin: auto !important;
    display: flex !important;
}

.progress-slider {
    padding: 0px !important;
}

.media-screen-pause-play {
    width: 100%;
    height: 100%;
}

.title-overflow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.voted {
    color: #0061c8 !important;
}
