.player {
    width: 100vw;
    display: flex;
    /* background-color: #EBEBEB; */
}

.media-controls {
    width: 100%;
    margin-top: auto;
}

.media-button-container {
    cursor: pointer;
    color: #8C8C8C !important;
    width: 20px;
}

.media-button-extended-container {
    cursor: pointer;
    color: #8C8C8C !important;
    width: 200px;
}

.request-control-button {
    background-color: #8C8C8C !important;
}

.media-container {
    border-bottom: none !important;
}