#queue-component {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "list"
        "send";
}

.queue-list {
    height: 100%;
}

.item {
    /* height: 100px; */
    width: 100%;
    background-color: aqua;
}


.list {
    position: relative;
    grid-area: list;
    height: 100%;
    background-color: antiquewhite;
    overflow-y: scroll;
}

.send {
    position: relative;
    grid-area: send;
    height: 100%;
}