.queue-tabs {
    position: sticky;
    height: auto;
    color: white;
}

.item {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.queue {
    overflow-y: hidden !important;
}

.list {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    /* scroll-behavior: smooth !important; */
}

.send {
    position: relative;
    height: auto;
    margin-top: auto;

}

.thumbnail-container {
    margin: auto;
}

.thumbnail {
    /* height: 60px; */
    width: 120px;
    border-radius: 5px;
}

.text-container {
    margin-left: 8px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.title-text {
    font-size: 12px !important;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.queued-by-text {
    font-size: 12px !important;
}

.queued-button {
    width: 100%;
}

.table-cell {
    padding: 16px 0px 16px 0px !important;
}

.search-list-container-closed {
    background-color: black;
    overflow-y: scroll;
    position: relative;
    transition: 0.7s;
    margin-top: auto;
    height: 0%;
}

.search-list-container {
    background-color: black;
    overflow-y: scroll;
    position: relative;
    transition: 0.7s;
    height: 100%;
}

.close-button {
    border-radius: 0% !important;
    width: 100%;
    position: sticky !important;
    bottom: 0 !important;
    background-color: #0069d9 !important;
}

.close-button:hover {
    background-color: #0061c8 !important;
}

.playlist-close {
    height: 0%;
    transition: 0.7s;
}

.playlist-open {
    height: 100%;
    transition: 0.7s;
    overflow-y: scroll;
}

.queued {
    color: white !important;
    border-color: #1976d2 !important;
    background-color: #1976d2 !important;
}