#queue-component {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.queue-tabs {
    position: sticky;
    height: auto;
    color: white;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.queue {
    overflow-y: hidden !important;
}

.list {
    padding: 0px 16px 0px 16px;
    position: relative;
    height: 100%;
    overflow-y: overlay;
}

.send {
    position: relative;
    height: 100%;
    margin-top: auto;
    height: auto;
}

.thumbnail-container {
    margin: auto;
}

.thumbnail {
    height: 75px;
}

.text-container {
    padding: 16px;
    margin-left: 20px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.title-text {
    font-size: 14px !important;
}

.queued-by-text {
    font-size: 12px !important;
}

.queued-button {
    width: 100%;
}

.table-cell {
    padding: 16px 0px 16px 0px !important;
}