.room-navigation {
    border-bottom: 2px solid #767676;
    box-shadow: none !important;    
}

.add-room-container {
    margin: auto;
    padding: 10px;
}

.add {
    color: #ACACAC;
    margin: auto !important;
    display: block !important;
}

.button-outline-dropdown {
    border: 1px solid #ACACAC;
    border-radius: 50px;
    margin: auto;
    padding: 5px;
}

.option-container {
    padding: 5px;
}

.option-text {
    margin-top: auto;
    margin-bottom: auto;
}

.room-item-container {
    display: flex;
    margin: auto;
}

.room-item {
    padding: 16px 0px 16px 0px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

.room-item-text {
    padding: 5px;
    cursor: pointer;
}

.room-content-container {
    overflow: hidden;
}

.room-options-container {
    margin-left: auto;
    display: flex;
}

.active-row {
    background-color: #08213b;
    font-weight: bold;
}

.table-row {
    padding: 0px 16px 0px 16px !important;
    display: grid !important;
}

.table-row:hover {
    background-color: #2b2b2b;
    color: white !important;
}

.user-invitation-row {
    padding: 0px 16px 0px 16px !important;
    display: grid !important;
    cursor: pointer;
}

.user-invitation-row:hover {
    background-color: #d8d8d8;
}

.room-table-cell {
    padding: 0px !important;
}