.sidebar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

.tab-group {
    border-radius: none !important;
    width: 100%;
    height: 5%;
    max-height: 50px;
    min-height: 50px;
}

.tab {
    border-radius: 0px !important;
    background-color: black !important;
    border-bottom: 1px solid #8C8C8C !important;
    border-color: #8C8C8C !important;
    width: 100%;
}

.active-tab {
    border-radius: 0px !important;
    background-color: black !important;
    border-color: #8C8C8C !important;
    border-bottom: 1px solid #1976d2 !important;
    width: 100%;
}

.active {
    color: #1976d2;
}

.inactive {
    color: white;
}

.content-container {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.input-field {
    display: grid;
    height: auto;
}


#sidebar-component {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tabs {
    position: relative;
    height: 100%;
}

.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.text-color-light {
    color: #ACACAC !important;
    font-size: 16px !important;
}

.center {
    margin: auto;
}

.accept-button {
    background-color: #1976d2 !important;
}

.cancel-button {
    background-color: #8C8C8C !important;
}

.component-tab {
    background-color: #2b2b2b !important;
    /* min-height: 48px !important;
    max-height: 48px !important; */
}

.sidebar-lip {
    display: flex;
    height: 10%;
    width: 20px;
    background-color: rgb(37, 37, 37);
    margin: auto;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-lip:hover {
    opacity: 1 !important;
    background-color: rgb(37, 37, 37);
}

.sidebar-lip-icon {
    font-size: 20px !important;
    display: flex;
    justify-content: center !important;
    color: #1976d2 !important;
    margin: auto;
}

