.content-slider {
  position: relative;
  display: flex;
  margin-left: auto;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

.slider-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease-out;
  overflow: hidden;
}

.slider-content > * {
  overflow: hidden;
}

.slider-content.show {
  transform: translateX(100%);
}

.slider-button {
  background: #2b2b2b !important;
}

.slider-button:hover {
  background: #1976d2 !important;
}

.slider-container {
  margin: auto 0 auto auto;
}